<h1>Technologie Administration</h1>
<h3 *ngIf="technologien.length === 0">noch keine Technologien erfasst</h3>
<table *ngIf="technologien.length !== 0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Kategorie</th>
            <th>Ring</th>
            <th>Beschreibung (Technologie)</th>
            <th>Beschreibung (Einordnung)</th>
            <th>Publiziert</th>
            <th>Publikationsdatum</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let technologie of technologien">
            <td>{{ technologie.id }}</td>
            <td>{{ technologie.name }}</td>
            <td>{{ technologie.kategorie | kategorieToBezeichnung }}</td>
            <td>{{ technologie.ring | ringToBezeichnung }}</td>
            <td>{{ technologie.beschreibungTechnologie }}</td>
            <td>{{ technologie.beschreibungEinordnung }}</td>
            <td>{{ technologie.publiziert | publiziertToBezeichnung }}</td>
            <td>{{ technologie.publikationsDatum | formatDate }}</td>
            <td><button [routerLink]="[technologie.id]">bearbeiten</button></td>
        </tr>
    </tbody>
</table>
<br>
<button [routerLink]="['0']">neue Technologie erfassen</button>
<br>
<button [routerLink]="['/viewer']">zurück zum Viewer</button>
